<div style="margin-top: 15px"></div>
<div class="container">
  <div id="typeName" ><p class="page_title">TV Shows</p></div>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10" style="padding-left: 0px;padding-right:0px; ">

      <div class="col-md-12" ngClass="double-card-container" *ngFor="let test of range(response.length); let odd = odd; let even = even; let i = index">


        <div *ngIf="even" ngClass="card-container left-card">
          <div ngClass="image-container">
            <a [routerLink]="[response[i].id_media]"><img src="https://image.tmdb.org/t/p/original/{{response[i].image_path}}" style="width:100%; height:100%" ></a>
          </div>
          <div ngClass="content-container">
            <p ngClass="upper-p">
              <a [routerLink]="[response[i].id_media]" ngClass="movie-title">{{response[i].title}}</a>
              <span ngClass="rate-container">Rating: <b>{{response[i].rating_trakt}}</b></span>
            </p>
            <p ngClass="lower-p">
              <span ngClass="genre-container" *ngFor="let genre of response[i].genres; let h = index">{{genre.genre | capitalizeFirst}}<u *ngIf=" h != response[i].genres.length - 1" style="text-decoration: none">,&nbsp;</u></span>
              <span ngClass="date-container">{{response[i].aired_day}}</span>
            </p>
          </div>
        </div>

        <div *ngIf="even && response[i+1]" ngClass="card-container right-card">
          <div ngClass="image-container">
            <a [routerLink]="[response[i+1].id_media]"><img src="https://image.tmdb.org/t/p/original/{{response[i+1].image_path}}" style="width:100%; height:100%" ></a>
          </div>
          <div ngClass="content-container">
            <p ngClass="upper-p">
              <a [routerLink]="[response[i+1].id_media]" ngClass="movie-title">{{response[i+1].title}}</a>
              <span ngClass="rate-container">Rating: <b>{{response[i+1].rating_trakt}}</b></span>
            </p>
            <p ngClass="lower-p">
              <span ngClass="genre-container" *ngFor="let genre of response[i+1].genres; let t = index">{{genre.genre | capitalizeFirst}}<u *ngIf=" t != response[i+1].genres.length - 1" style="text-decoration: none">,&nbsp;</u></span>
              <span ngClass="date-container">{{response[i+1].aired_day}}</span>
            </p>
          </div>
        </div>


      </div>

    </div>
    <div class="col-md-1">
    </div>

  </div>
</div>
