<div style="margin-top: 75px"></div>

<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h4>My Statistics</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h5>
        Watched
      </h5>
      <div>
        <p>Movies:{{movies_watched}}</p>
        <p>TV Shows: {{tvshows_watched }}</p>
        <p>Episodes: {{episodes_watched }}</p>
      </div>
    </div>
    <div class="col-md-4">
      <h5>
        Ratings overview
      </h5>
      <div>
        <p>Graph Bar Placeholder!</p>
      </div>
    </div>
    <div class="col-md-4">
      <h5>
        Your progress
      </h5>
      <div>
        <p>Other Graphs Placeholder</p>
        <p>Another Grapher Placeholder</p>
      </div>
    </div>
  </div>
</div>
